<div class="container menu">
    <div class="d-flex flex-column">
        <div class="grid">
            <div *ngFor="let item of drinks  | paginate: { itemsPerPage: 8, currentPage: page, totalItems: total }; let i = index;">
                <div class="food">
                    <div class="wc">
                        <a routerLink="{{item.dsc}}"><i class="fa-regular fa-heart" (click)="addToWishList(item.id)"></i></a>
                        <a routerLink="{{item.dsc}}"><i class="fa-solid fa-cart-shopping" (click)="addToCartList(item.id)"></i></a>
                    </div>
                    <a routerLink="{{item.dsc}}" ><img src={{item.img}} alt="No image found"  onerror="this.src='https://bookmychefs.com/uploads/dish/default_food.jpg'"></a>
                </div>
                <ul>
                    <li>{{item?.name}}</li>
                    <li>{{item?.dsc}}</li>
                    <li>{{item?.country}}</li>
                    <li>{{item?.price}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="pagination d-flex justify-content-end mt-1">
       <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
    </div>
</div>