<div class="container">
    <div class="d-flex flex-wrap justify-content-center mt-3 search-field">
        <input type="text" #box class="search-box" placeholder="Search Food..."
            (keydown.enter)="searchInput(box,select)">
        <select name="filter" #select class="select-box" (change)="searchInput(box,select)">
            <option value="" default>--filter--</option>
            <option value=">100">above 100</option>
            <option value="<100">below 100</option>
            <option value=">200">above 200</option>
            <option value="<200">below 200</option>
        </select>

    </div>
</div> 
<div class="container menu">
    <div class="d-flex justify-content-around">
        <div class="text-center grid">
            <div
                *ngFor="let item of shownFood | paginate: { itemsPerPage: 8, currentPage: page, totalItems: total }; let i = index;">
                <div class="food">
                    <div class="wc">
                        <a><i class="fa-regular fa-heart" (click)="addToWishList(item.id)"></i></a>
                        <a><i class="fa-solid fa-cart-shopping" (click)="addToCartList(item.id)"></i></a>
                    </div> 
                    <a routerLink="{{item.dsc}}"><img  src={{item.img}} alt="No image found"
                            onerror="this.src='https://bookmychefs.com/uploads/dish/default_food.jpg'"></a>
                </div>
                <ul>
                    <li>{{item?.name}}</li>
                    <li>{{item?.dsc}}</li>
                    <li>{{item?.country}}</li>
                    <li>{{item?.price}}</li>
                </ul>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <div class="pagination d-flex justify-content-end mt-1">
        <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
    </div>
</div>