<div *ngIf="cartMsg" class="d-flex flex-row justify-content-between">
    <label for="one" class="alert-message">
        <strong>Success</strong> Product added to cart successfully
    </label>
</div>
<div  class="wish-msg" *ngIf="wishMsg" class="d-flex flex-row justify-content-between">
    <label class="alert-message">
        <strong>Success</strong> Product added to wishlist successfully
    </label>
</div>
<div class="container">
    <div class="d-flex flex-wrap justify-content-center mt-3 search-field">
        <input type="text" #box class="search-box" placeholder="Search Food..."
            (keydown.enter)="searchInput(box)">
        <select name="filter" #select class="select-box" (change)="filterProduct(select)">
            <option value="" default>--filter--</option>
            <option value="price">Price: Low to High</option>
            <option value="rprice">Price: Hight to Low</option>
            <option value="rate">Rate: Low to High</option>
            <option value="rrate">Rate: Hight to Low</option>
        </select>

    </div>
</div> 
<div class="container menu">
    <div class="d-flex justify-content-around">
        <div class="text-center grid">
            <div
                *ngFor="let item of listOfFood | paginate: { itemsPerPage: 8, currentPage: page, totalItems: total }; let i = index;">
                <div class="food">
                    <div class="wc">
                        <a><i class="fa-regular fa-heart" (click)="addToWishList(item.id)"></i></a>
                        <a><i class="fa-solid fa-cart-shopping" (click)="addToCartList(item.id)"></i></a>
                    </div> 
                    <a routerLink="{{item.id}}"><img  src={{item.img}} alt="No image found"
                            onerror="this.src='https://bookmychefs.com/uploads/dish/default_food.jpg'"></a>
                </div>
                <ul>
                    <li routerLink="{{item.id}}">{{item?.name}}</li>
                    <li routerLink="{{item.id}}">{{item?.dsc}}</li>
                    <li routerLink="{{item.id}}">{{item?.country}}</li>
                    <li routerLink="{{item.id}}">{{item?.price}}</li>
                </ul>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <div class="pagination d-flex justify-content-end mt-1">
        <pagination-controls (pageChange)="pageChangeEvent($event)" [routerLink]="['menu/',slug]" [queryParams]="{page:page}"></pagination-controls>
    </div>
</div>