.search-field {
  .search-box {
    width: 50%;
    border: 1px solid black;
    padding: 8px 0px 8px 10px;
    border-radius: 20px;
    margin-right: 20px;

    input { 
      width :auto;
      border: none;
    }
    input:focus {
      border: none;
    }
  }
  .select-box {
    margin-right: 20px;
    width: 10%;
    border-radius: 20px;
    text-align: left;
    border: 1px solid black;
    padding: 8px 0px 8px 10px;
  }
  
}
.menu {
    margin-top: 20px;
    ul {
      list-style-type: none;
      text-align: left;

      li:first-child {
        font-size: 20px;
      }

    }
    .grid {
        display: grid;
        grid-template-columns: 235px 235px 235px 235px;
        // grid-template-columns: auto auto auto auto;
        column-gap: 50px;
    
        .wc {
            display: none;
            position: absolute;
            cursor: pointer;


            .fa-regular {
                margin-right: 5px;
            }
            i {
                font-size: 35px;
            }
            a {
                color: orange;
            }
            a:first-child {
              margin-left:30px;
            }
        }
  
        .food:hover {
            .wc {
                display: block;
            }
        }
        img {
            width: 200px;
            height: 200px;
            border-radius: 25px;
        }
    }
  }

.food {
  border-radius: 20px;
}

.alert-message{
  z-index: 5;
  border-radius: 3px;
  line-height:30px;
  position: fixed;
  top: 25; right: 0;
  display: block;
  width:30%;
  padding: 12px;
  box-sizing: border-box;
  color: white;
  margin-right: 20px;
  box-shadow: 0px 10px 50px rgba(0,0,0,.6);
  background: rgb(29, 145, 29);
}

.wish-msg {
   margin-top: 65px;
}