.container {
    margin-top: 20px;
     
    .add, .sub {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        border: none;
        background-color: #cccccc;
    }
    .product-count {
        margin-left: 10px;
        margin-right: 10px;
    }
}