/* You can add global styles to this file, and also import other style files */
.body {
    scroll-behavior: smooth;
}
.menu {
    margin-top: 20px;
    ul {
      list-style-type: none;
    }
    .grid {
        display: grid;
        grid-template-columns: 235px 235px 235px 235px;
        // grid-template-columns: auto auto auto auto;
        column-gap: 50px;
    
        .wc {
            display: none;
            position: absolute;
            cursor: pointer;
            .fa-regular {
                margin-right: 5px;
            }
            i {
                font-size: 35px;
            }
            a {
                color: orange;
            }
            a:first-child {
              margin-left:30px;
            }
        }
  
        .food:hover {
            .wc {
                display: block;
            }
        }
        img {
            width: 200px;
            height: 200px;
            border-radius: 25px;
        }
    }
  }