
    .notification {
        position: absolute;
        top: 3px;
        margin-left: 15px;
        background: black;
        color: white;
        border-radius: 50%;
        font-size: 14px;
        width: 19px;
        height: 19px;
        text-align: center;
    }
